{% load static %}

<html>
    <body>
        <h2>Leave Querier</h2>
        <div>
            <input type="date" name="start_date" id="start_date" value="2020-01-01">
            <input type="date" name="end_date" id="end_date" value="2020-02-01">
            <button id="ajax_leave_query">Query Button</button>
        </div>
        <script type="text/javascript">
            window.CSRF_TOKEN = "{{ csrf_token }}";
        </script>
        <script src="{% static 'dashboard/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'dashboard/js/leave.js' %}"></script>
    </body>
</html>